<html>
    <head>
        <title>Everyday Sunshine</title>
     </head>
    <body>
        <div>
            <h1><a href="/">Everyday Sunshine Blog</a></h1>
        </div>
        
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>One, two, three</p>
        </div>
        
                <div>
                    <p>published: 03.11.2018, 16:00</p>
                    <h2><a href="">My second post</a></h2>
                    <p>four, five, six</p>
                </div>
    </body>
</html>
